
@{
    ViewBag.Title = "Used";
}

<div class="row">
    <h2 class="page-header">Used Inventory</h2>
    <p>Search to find the best Used Car for you!</p>
</div>

@Html.Partial("_QuickSearchPartial")

<div class="container">
    <div class="row" id="searchResults">

    </div>
</div>

<input type="hidden" name="vehicleTypeId" id="vehicleTypeId" value="2" />

@section Scripts{
    <script src="@Url.Content("~/Scripts/app/vehicleSearch.js")"></script>
    <script type="text/javascript">
       var imagePath = '@Url.Content("~/Images/")';
       var buttonPath = '@Url.Action("Details", "Inventory")';
       var buttonText = 'Details';
    </script>
}
